@font-face {
	font-family: 'Franklin Gothic Medium';
	src: url('../fonts/Franklin Gothic Medium.eot');
	src: local('☺'), url('../fonts/Franklin Gothic Medium.woff') format('woff'), url('../Franklin Gothic Medium.ttf') format('truetype'), url('../Franklin Gothic Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body{
    font-family: Arial, sans-serif;
}
.logo1{
    width: 100%;
    height: 55px;
background: #344051;
    position: fixed;
    font-family: Franklin Gothic Medium,sans-serif; 
    z-index: 10;
}
.logo{
    color: white;
    font-size: 25px;
    line-height: 55px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
    
}
@keyframes comming{
    from{
        opacity: 0%;
    }
    to{
        opacity: 1;
    }
}
.menu{
    float: left;
    
}
.menu li{
    float: left;
    line-height: 55px;
    color: white;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 14px; 
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}
.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: block;
    text-decoration: none;
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: #f09010;
}
.menu li a:active{
    transform: scale(1.1);
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}
.white-btn:visited{
    color: white;
}


.custom-css3{
    color: red;
    margin: 0px 5px 0px 0px;
}
main{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat , url(../img/bg.jpg) center/cover no-repeat;
}
.title__container{
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    opacity: 0;
    -webkit-animation: tilemove 1s ease forwards;
    -o-animation: tilemove 1s ease forwards;
    animation: tilemove 1s ease forwards;
    -webkit-animation-delay: 2.3s;
    -o-animation-delay: 2.3s;
    animation-delay: 2.3s;
}
.title__container h1{
    font-size: 60px;
    font-weight: bold;
}

.title__container h5{
    margin-top: 4%;
    font-size: 22px;
    color: #79818d;
}
@keyframes tilemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    
    to{
        opacity: 1;
    }
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 6px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 30px 28px 0px 10px;
    transition: all 0.2s;
    transform: scale(1);
}
.title__container input:hover{
    background: #344051;
    color: white;
}
.title__container input:active{
    transform: scale(1.1);
}
@media (max-width: 991px){
    .title__container, .title__container h5, .title__container input{
        color: white;
        position: relative;
        z-index: 3;
    }
    .title__container input{
    border: 2px solid #fff;
    }
    .main{
        position: relative;
    }
    .main::after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.4);
        z-index: 1;
    }
}




.main2{
    width: 100%;
    background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 50% 162px no-repeat, url(../img/%D0%A4%D0%BE%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9%20%D1%81%D0%BB%D0%BE%D0%B9.jpg) center/cover no-repeat;
}
.title__container2 h3{
    font-size: 25px;
    font-weight: bold;
    color: #263244;
}

.title__container2 input{
    height: 32px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 6px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 20px;
    transition: all 0.2s;
    transform: scale(1);
}
.title__container2 input:hover{
    background: #344051;
    color: white;
}
.title__container2 input:active{
    transform: scale(1.1);
}
.title__container2 p{
    transform: scale(1);
    transition: all 0.2s ease;
}

.title__container2 p:hover{
    transform: scale(1.1);
}
.element-animation{
    opacity: 0;
}
.element-animation.show-animation{
    opacity: 1;
    transition: opacity 1s;
}


.main3 h3{
    font-size: 25px;
    font-weight: bold;
    color: #263244;
    
} 
.main3{
    width: 100%;
    background:         
        url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 50% 162px  no-repeat, 
        url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0%20%D1%81%D1%82%D1%803.jpg) center/cover no-repeat;
}
.menu2 img{
    height: 45px;
}
.menu2 h4{
    font-weight: bold;
    color: #cf7600;   
}
.menu2 img{
     transform: scale(1);
    transition: all 0.2s;
}
.menu2 img:hover{
    transform: scale(1.2);
}







.main4 h3{
    font-size: 25px;
    font-weight: bold;
    color: #263244;
}
.main4 {
    width:100%;
    background: 
        url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B02.png) 50% 162px  no-repeat,
        url(../img/%D0%A4%D0%BE%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9%20%D1%81%D0%BB%D0%BE%D0%B9.jpg) center/cover no-repeat;       
}
.menu3 h4{
    font-size: 20px;
     font-weight: bold;
    color: #263244;
}
.menu3 input{
    height: 44px;
    text-align: center;
    border: 1px #63b5ae;
    background: #63b5ae;
    border-radius: 4px;
    color: white;
    font-size: 13px;
    padding: 0px 41px;
    transform: scale(1);
    transition: all 0.2s;
}
.menu3 input:active{
    transform: scale(1.1); 
}
.menu3 input:hover{
    background: #db8755;
    color: white;
}
.main4 img{
    max-width: 100%;
    width: 100%;
}





.main5 h2{
    font-size: 33px;
    font-weight: bold;
    color: #263244; 
}
.menu4 h5{
    font-size: 20px;
    font-weight: bold;
    color: #263244; 
}
.menu4 select{
   height: 50px;
}
.menu4 p{
    font-size: 15px; 
    font-weight: bold;
}
.menu4 img{
    max-width: 100%;
}



.main6 h3{
    font-size: 25px;
    font-weight: bold;
    color: #263244;
    
}
.main6 {
    width: 100%;
    background: 
        url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 50% 160px no-repeat, 
        url(../img/%D1%84%D0%BE%D0%BD.png) center/cover no-repeat fixed;
}
.menu5 h4{
    font-size: 18px;
}
.menu5 p{
    font-size: 30px;
    font-weight: 800;
}
.menu5 img{
    height: 52px;
}



.main7{
    background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 50% 160px no-repeat;
}

.main7 h5{
    color: #263244;
}
.main7 p{
    color: #263244;
}




.main8 h3{
    font-size: 27px;
    font-weight: bold;
    color: #ffffff;
}
.main8{
    width: 100%;
    background:
        url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 50% 160px no-repeat,
        url(../img/%D0%A4%D0%BE%D0%BD2.png) center/cover no-repeat;
}
.main8 p{
    color: #ffffff;
}
.main8 img{
    height: 25px;
}
.main8 h5{
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
}
.input1{
    height: 36px;
    font-size: 13px;
}
.input2{
    height: 36px;
    font-size: 13px;
}
.input3{
    height: 95px;
    font-size: 13px;
}
.main8 img{
    transform: scale(1);
    transition: all 0.2s;
}
.main8 img:hover{
    transform: scale(1.2);
}

.input4{
    height: 45px;
    padding: 0px 25px;
    text-align: center;
    border: 3px solid #f9faff;
    background: none;
    border-radius: 6px;
    color: #f9faff;
    font-size: 13px;
    transition: all 0.2s;
    transform: scale(1);
}
.input4:hover{
    background: black;
    color: white;
}
.input4:active{
    transform: scale(1.1);
}
