body{
    font-family: Arial, sans-serif;
}
.logo1{
    width: 100%;
    height: 61px;
background: #344051;
}
.logo{
    color: white;
    font-size: 28px;
    line-height: 60px;
    padding-left: 20.2083%;
    float: left;
}
.menu{
    float: left;
    padding-left: 22.4479%;
}
.menu li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 16px;
    
}
.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat , url(../img/bg.jpg) center/cover no-repeat;
}
.title__container{
    float: left;
    margin: 18% 0px 0px 21%;
    color: #2c384a;
    text-align: center;
}
.title__container h1{
    font-size: 60px;
    font-weight: bold;
}

.title__container h5{
    margin-top: 4%;
    font-size: 22px;
    color: #79818d;
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 6px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 30px 28px 0px 10px;
    
}
.main2{
    width: 100%;
    height: 730px;
    background: url(../img/%D1%84%D0%BE%D1%82%D0%BA%D0%B0%D0%9F%D0%90%D0%A0%D0%9D%D0%AF.png) 50% 25% no-repeat, url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 50% 7.5%  no-repeat, url(../img/%D0%A4%D0%BE%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9%20%D1%81%D0%BB%D0%BE%D0%B9.jpg) center/cover no-repeat;
}
.title__container2 h3{
    margin: 109px 45.5% 0% 45.5%;
    font-size: 27px;
    font-weight: bold;
    color: #263244;
   
    
}
.text1{
    margin: 325px 400px 20px 400px;
    font-size: 15px;
}
.text2{
    margin: 40px 400px 20px 400px;
    font-size: 15px;
}
.title__container2 input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 6px;
    color: #6d7682;
    font-size: 13px;
    display: block;
    margin: 30px auto 10px auto;
}
.main3 h3{
    font-size: 27px;
    font-weight: bold;
    color: #263244;
    margin: 0px 44.2% 0px 44.2%;
    padding-top: 109px;
} 
.main3{
    width: 100%;
    height: 523px;
    background:         
        url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 50% 30.7%  no-repeat, 
        url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0%20%D1%81%D1%82%D1%803.jpg) center/cover no-repeat;
}
.Li1{
    margin: 147px 1020px 0px 19%;
}
.Li1 h4{
    font-weight: bold;
    color: #cf7600;
    margin: 38px 0px 0px -12px;
}
.Li1 p{
    margin: 17px 0px 0px -70px;
}

.Li2{
    margin: -153px 730px 0px 39%; 
}
.Li2 h4{
    font-weight: bold;
    color: #cf7600;
    margin: 42px 0px 0px -12px;
}
.Li2 p{
    margin: 17px 0px 0px -80px;
}

.Li3 {
    margin: -149px 0px 0px 59%;
}
.Li3 h4 {
    font-weight: bold;
    color: #cf7600;
    margin: 31px 0px 0px -42px;
}
.Li3 p{
    margin: 17px 430px 0px -90px;
}
.Li4{
    margin: -148px 0px 0px 79%;
}
.Li4 h4{
    font-weight: bold;
    color: #cf7600;
    margin: 32px 0px 0px -12px;
}
.Li4 p{
    margin: 17px 135px 0px -80px;
}



.p1{
    margin: 71px 35% 0% 35%;
}

.main4 h3{
    font-size: 27px;
    font-weight: bold;
    color: #263244;
    margin: 105px 47% 0% 47%;

}

.main4 {
    width:100%;
    height: 1254px;
    background: 
        url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B02.png) 50.2% 58px  no-repeat,
        url(../img/%D1%81%D0%B0%D0%B9%D1%82.png) 52% 149px no-repeat,
        url(../img/%D0%A4%D0%BE%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9%20%D1%81%D0%BB%D0%BE%D0%B9.jpg) center/cover no-repeat;       
}

.h41 {
    font-size: 20px;
     font-weight: bold;
    color: #263244;
    margin: 680px 76% 0px 12.2%;
        
}

.p2{
    margin: 17px 76% 0px 12.2%;
}
.h42 {
    font-size: 20px;
    font-weight: bold;
    color: #263244;
    margin: 17px 76% 0px 12.2%;
}
.p3 {
    margin: 17px 76% 0px 12.2%
}
.h43{
    font-size: 20px;
    font-weight: bold;
    color: #263244;
    margin: -120px 50% 0px 35%;
}
.p4{
    margin: 0px 12.5% 0px 35%;
}
.main4 input{
    height: 44px;
    text-align: center;
    border: 1px #63b5ae;
    background: #63b5ae;
    border-radius: 4px;
    color: white;
    font-size: 13px;
    padding: 0px 41px;
    margin: 86px 50% 0px 12.25%;
}

.main5 h2{
    font-size: 33px;
    font-weight: bold;
    color: #263244; 
    margin: -74px 0px 0px 41%;
}

.main5 {
    width:100%;
    height: 952px;
    background: 
        url(../img/%D0%BB%D0%B8%D0%BD%D0%B8%D1%8F%20%D0%BF%D0%BE%D0%B4%D0%B8%D1%82%D0%BE%D0%B3%D0%B0.png) 397px 523px no-repeat, 
        url(../img/%D0%A4%D0%BE%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9%20%D1%81%D0%BB%D0%BE%D0%B9.jpg) center/cover no-repeat;
}
.menu41 h5{
    font-size: 20px;
    font-weight: bold;
    color: #263244; 
    margin: 54px 0px 0px 26%;
}
.menu41 select{
    background: #eeeeee;
    height: 57px;
    margin: 22px 0px 0px 26%;
    padding: 0px 285px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
}

.menu42 h5{
    font-size: 20px;
    font-weight: bold;
    color: #263244; 
    margin: 50px 0px 0px 26%; 
}

.menu42 select{
    background: #eeeeee;
    height: 57px;
    margin: 22px 0px 0px 26%;
    padding: 0px 285px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.menu43 h5{
    font-size: 20px;
    font-weight: bold;
    color: #263244; 
    margin: 50px 0px 0px 26%; 
}

.menu43 select{
    background: #eeeeee;
    height: 57px;
    margin: 22px 0px 0px 26%;
    padding: 0px 285px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.menu43p1{
    font-size: 15px; 
    margin: 68px 0px 0px 26%;
    font-weight: bold;
}
.menu43p2{
    font-size: 15px;
    margin: 20px 0px 0px 26%;
    font-weight: bold;
}


.main6 h3{
    font-size: 27px;
    font-weight: bold;
    color: #263244;
    margin: -193px 0px 0px 39.5%;
    padding: 105px 0px;
    
}
.main6 {
    width: 100%;
    height: 499px;
    background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 50% 160px no-repeat, 
        url(../img/%D1%84%D0%BE%D0%BD.png) center/cover no-repeat;
}
.li11{
    margin: 11px 0px 0px 20%;   
}
.li11 p{
    font-weight: bold;
    font-size: 31px;
    margin: 32px 0px 0px 0px;
}
.li11 h4{
    margin: 30px 0px 0px -63px;
}
.li12{
    margin: -152px 0px 0px 38%; 
}
.li12 p{
     font-weight: bold;
    font-size: 31px;
    margin: 32px 0px 0px -7px;
}
.li12 h4{
    margin: 30px 0px 0px -20px;
}
.li13{
    margin: -152px 0px 0px 58%;
}
.li13 p{
    font-weight: bold;
    font-size: 31px;
    margin: 32px 0px 0px 0px;
}
.li13 h4{
    margin: 30px 0px 0px -52px;
}
.li14{
    margin: -158px 0px 0px 78%;
}
.li14 p{
    font-weight: bold;
    font-size: 31px;
    margin: 32px 0px 0px 12px;
}
.li14 h4{
    margin: 30px 0px 0px -35px;
}


.main7 h3{
    margin: 107px 0px 0px 46.86%;
    font-size: 27px;
    font-weight: bold;
    color: #263244;
}
.main7{
    background: 
        url(../img/%D0%9E%D1%80%D0%B0%D0%BD%D0%B6.png) 40px 325px no-repeat,
        url(../img/%D1%84%D0%BE%D1%82%D0%BA%D0%B0.png) 51% 120px no-repeat,
        url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 740px 58px no-repeat;
}
.p11{
    margin: 235px 27% 0px 32%;
}
.p12{
    margin: 40px 0px 0px 44%;
}


.main8 h3{
    margin: 152px 0px 0px 45%;
    padding: 105px 0px;
    font-size: 27px;
    font-weight: bold;
    color: #ffffff;
}
.main8{
    width: 100%;
    height: 808px;
    background:
        url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 52% 158px no-repeat,
        url(../img/%D0%A4%D0%BE%D0%BD2.png) center/cover no-repeat;
}
.menu5 p{
    color: #ffffff;
    margin: -37px 0px 0px 32%;
}

.Li111{
    margin: 47px 0px 0px 34%;
}
.Li111 p{
    margin: 14px 0px 0px -45px;
    color: #ffffff; 
}
.Li112 {
    margin: -66px 0px 0px 51%;
}
.Li112 p{
    margin: 14px 0px 0px -47px;
    color: #ffffff; 
}
.Li113{
    margin: -50px 0px 0px 67%;
}
.Li113 p{
    margin: 14px 0px 0px -26px;
    color: #ffffff; 
}
.main8 h5{
    margin: 40px 0px 0px 43.7%;
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
}
.input1{
    height: 36px;
    border: 1px #d3d6dc;
    background: #d3d6dc;
    font-size: 13px;
    padding: 0px 97px;
    margin: 45px 0px 0px 28%;
}
.input2{
    height: 36px;
    border: 1px #d3d6dc;
    background: #d3d6dc;
    font-size: 13px;
    padding: 0px 97px;
    margin: 0px 0px 0px 25px;
}
.input3{
    height: 95px;
    border: 1px #d3d6dc;
    background: #d3d6dc;
    font-size: 13px;
    padding: 0px 260px;
    margin: 14px 0px 0px 28%;
}
.input4{
    height: 45px;
    text-align: center;
    border: 3px solid #f9faff;
    background: none;
    border-radius: 6px;
    color: #f9faff;
    font-size: 13px;
    padding: 0px 25px;
    margin: 30px 0px 0px 48%;
}

.main9{
    width: 100%;
    height: 356px;
    background: url(../img/%D0%9A%D0%B0%D1%80%D1%82%D0%B0%20%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.jpg) center no-repeat;
}
.main10{
    width: 100%;
    height: 96px;
    background: url(../img/%D0%A1%D0%BB%D0%BE%D0%B9%201.png) center/cover no-repeat;
}
.main10 p{
    margin: 0px 0px 0px 43.3%;
    padding: 40px 0px;
    color: #ffffff;
}
