.parallax {
  perspective: 1px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px);
}
.main6 h3{
    font-size: 27px;
    font-weight: bold;
    color: #263244;
    margin: -193px 0px 0px 39.5%;
    padding: 105px 0px;
    
}
.main6 {
    width: 100%;
    height: 499px;
    background: url(../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.png) 50% 160px no-repeat, 
        url(../img/%D1%84%D0%BE%D0%BD.png) center/cover no-repeat;
}
.li11{
    margin: 11px 0px 0px 20%;   
}
.li11 p{
    font-weight: bold;
    font-size: 31px;
    margin: 32px 0px 0px 0px;
}
.li11 h4{
    margin: 30px 0px 0px -63px;
}
.li12{
    margin: -152px 0px 0px 38%; 
}
.li12 p{
     font-weight: bold;
    font-size: 31px;
    margin: 32px 0px 0px -7px;
}
.li12 h4{
    margin: 30px 0px 0px -20px;
}
.li13{
    margin: -152px 0px 0px 58%;
}
.li13 p{
    font-weight: bold;
    font-size: 31px;
    margin: 32px 0px 0px 0px;
}
.li13 h4{
    margin: 30px 0px 0px -52px;
}
.li14{
    margin: -158px 0px 0px 78%;
}
.li14 p{
    font-weight: bold;
    font-size: 31px;
    margin: 32px 0px 0px 12px;
}
.li14 h4{
    margin: 30px 0px 0px -35px;
}